[submodule "STM32WillOSPort/lib/TeensyOS"]
	path = STM32WillOSPort/lib/TeensyOS
	url = https://github.com/william-redenbaugh/TeensyOS
[submodule "Will-OSSTM32F4 Port/lib/TeensyOS"]
	path = Will-OSSTM32F4 Port/lib/TeensyOS
	url = https://github.com/william-redenbaugh/TeensyOS
[submodule "Teensy4Port/lib/TeensyOS"]
	path = Teensy4Port/lib/TeensyOS
	url = git@github.com:william-redenbaugh/TeensyOS.git
[submodule "Teensy4Port/lib/MAX7219_Dot_Matrix"]
	path = Teensy4Port/lib/MAX7219_Dot_Matrix
	url = git@github.com:SGBotic/MAX7219_Dot_Matrix.git
[submodule "Teensy4Port/lib/Arduino-LiquidCrystal-I2C-library"]
	path = Teensy4Port/lib/Arduino-LiquidCrystal-I2C-library
	url = git@github.com:fdebrabander/Arduino-LiquidCrystal-I2C-library.git
[submodule "STM32F3-Port/lib/TeensyOS"]
	path = STM32F3-Port/lib/TeensyOS
	url = git@github.com:william-redenbaugh/TeensyOS.git
[submodule "STM32WillOSPort/lib/Adafruit_NeoPixel"]
	path = STM32WillOSPort/lib/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
[submodule "STM32WillOSPort/lib/Adafruit_NeoMatrix"]
	path = STM32WillOSPort/lib/Adafruit_NeoMatrix
	url = git@github.com:adafruit/Adafruit_NeoMatrix.git
[submodule "STM32WillOSPort/lib/Adafruit-GFX-Library"]
	path = STM32WillOSPort/lib/Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
